@charset "UTF-8";
@import "./utils/variables";
@import "./components/glogal-components";
@import "./components/page-header";
@import "./components/nav";
@import "./components/page-logo";
@import "./components/contacts";
@import "./components/hero";
@import "./components/services";
@import "./components/activity";
@import "./components/team";
@import "./components/clients";
@import "./components/page-footer";
@import "./components/sosial-link";
@import "./components/modal";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: $base-color;
}

/* Глобальні CSS-стилі */

/* Стилі заголовків */

.my-header3-3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.modal__h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
}

.activity__h2,
.services__h3,
.team__h3,
.my-header3-3 {
  color: $header-color;
  margin: 0px;
}

/* Прибирання крапок в Тегу <li> */

.address__list,
.p-button-list,
.project-list {
  list-style-type: none;
}

/* Сторінка ПОРТФОЛІО */
/*                              Блок КНОПКИ */
.p-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.p-button-item {
  margin-right: 8px;
}

.p-button-item:last-child {
  margin-right: 0px;
}

.p-button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  background: $background-light;
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: background-color $anime-time $anime-function,
    color $anime-time $anime-function,
    -webkit-box-shadow $anime-time $anime-function;
  transition: background-color $anime-time $anime-function,
    color $anime-time $anime-function,
    -webkit-box-shadow $anime-time $anime-function;
  transition: background-color $anime-time $anime-function,
    color $anime-time $anime-function, box-shadow $anime-time $anime-function;
  transition: background-color $anime-time $anime-function,
    color $anime-time $anime-function, box-shadow $anime-time $anime-function,
    -webkit-box-shadow $anime-time $anime-function;
}

/* #p-button1, */
.p-button:hover,
.p-button:focus {
  background-color: $select-color;
  color: $base-color2;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*                              Блок ПРОЄКТИ */
.project-list {
  /*  margin-left: 215px; */
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1170px;
}

.project-item {
  width: calc((100% - 60px) / 3);
  text-decoration: none;
  margin-bottom: 30px;
  margin-right: 30px;
  color: $background-light;
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow $anime-time $anime-function;
  transition: -webkit-box-shadow $anime-time $anime-function;
  transition: box-shadow $anime-time $anime-function;
  transition: box-shadow $anime-time $anime-function,
    -webkit-box-shadow $anime-time $anime-function;
}

.p-photo {
  width: 370px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.project-image {
  display: block;
}

/***********************************   ВАРІАНТ 1  */
.p-overlay-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(295px);
  transform: translateY(295px);
  -webkit-transition: opacity $anime-time $anime-function,
    -webkit-transform $anime-time $anime-function;
  transition: opacity $anime-time $anime-function,
    -webkit-transform $anime-time $anime-function;
  transition: transform $anime-time $anime-function,
    opacity $anime-time $anime-function;
  transition: transform $anime-time $anime-function,
    opacity $anime-time $anime-function,
    -webkit-transform $anime-time $anime-function;
}

.p-overlay-1 > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.556;
  text-align: left;
  color: $base-color2;
  padding: 0px;
  margin: 0px;
}

.project-link:hover .p-overlay-1,
.project-link:focus .p-overlay-1 {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.project-id {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  /* padding-right: 24px; */
  border-left: 1px solid $project-item-color;
  border-right: 1px solid $project-item-color;
  border-bottom: 1px solid $project-item-color;
}

/* .project-name {
  margin-left: 24px;
  margin-top: 20px;
} */
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $base-color;
  margin: 0px;
  /* margin-left: 24px; */
  margin-top: 4px;
}

.project-link:hover,
.project-link:focus {
  /* border: 1px solid #EEEEEE; */
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Домашнє завдання 5*/
/*           МОДАЛЬНЕ ВІКНО          */
