@charset "UTF-8";
@import "./utils/variables";
@import "./components/glogal-components";
@import "./components/page-header";
@import "./components/nav";
@import "./components/page-logo";
@import "./components/contacts";
@import "./components/hero";
@import "./components/services";
@import "./components/activity";
@import "./components/team";
@import "./components/clients";
@import "./components/page-footer";
@import "./components/sosial-link";
@import "./components/modal";
@import "./components/portfolio";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: $base-color;
}
