.contacts__list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.contacts__item {
  font-family: $font-family;
  font-weight: $font-weight-500;
  font-size: : $font-size-14;
  line-height: 1.172;
  letter-spacing: 0.02em;
}

.contacts__link {
  text-decoration: none;
  -webkit-transition: color $anime-time $anime-function;
  transition: color $anime-time $anime-function;
}

.contacts__icon {
  -webkit-transition: fill $anime-time $anime-function;
  transition: fill $anime-time $anime-function;
}
