.page-logo {
  font-family: $font-family-logo;
  font-weight: $font-weight-700;
  font-size: : $font-size-26;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $select-color;
  text-decoration: none;
}
