$base-color: #757575;
$base-color2: #ffffff;
$header-color: #000000;
$menu-item-color: #212121;
$select-color: #2196f3;
$background-dark: #2f303a;
$background-light: #f5f4fa;
$icon-color: #afb1b8;
$projects__item-color: #eeeeee;
$anime-function: cubic-bezier(0.4, 0, 0.2, 1);
$anime-time: 2250ms;
$scale-min: 0.5;
$modal__height: 581px;
$modal__width: 528px;
$font-family: "Roboto", sans-serif;
$font-family-logo: "Raleway", sans-serif;